
/* ############### Table Of Contents ############### */

/* Global Styles Section */

/* Header Section */

/* Feature Section */

/* OptForm Section */

/* Seperator Section */

/* Accordion Section */

/* Footer Section */

/* SignForm Section */

/* Movies Section */

/* ############### Global Styles Section ############### */

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ############### Header Section ############### */

.header-wrapper-home {
  background: url("../images/misc/home-bg.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
}

.header-wrapper-browse {
  background: url("../images/misc/joker1.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
}

@media (max-width: 550px) {
  .header-wrapper-home,
  .header-wrapper-browse {
    padding: 15px 20px;
  }
}

.navbar-home,
.navbar-signin {
  max-width: 1850px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 175px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-signin {
  margin-bottom: 75px;
}

@media (max-width: 550px) {
  .navbar-home,
  .navbar-signin {
    margin-bottom: 100px;
  }
}

.navbar-browse {
  max-width: 1850px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 175px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  height: 32px;
  width: 108px;
}

.signin-button {
  display: block;
  background-color: #e50914;
  width: 84px;
  height: fit-content;
  color: #fff;
  border: 0;
  font-size: 15px;
  border-radius: 3px;
  padding: 8px 17px;
  cursor: pointer;
}

.header-link,
.header-link-bold {
  padding: 5px;
}

.header-link a {
  color: #fff;
  margin-left: 25px;
  cursor: pointer;
}

.header-link-bold {
  font-weight: bolder;
}

/* ############### Feature Section ############### */

.feature-wrapper-home {
  text-align: center;
}

.feature-title-home,
.feature-title-browse {
  color: white;
  max-width: 640px;
  font-size: 50px;
  font-weight: 700;
  margin: auto;
}

.feature-title-browse {
  margin: initial;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .feature-title-home,
  .feature-title-browse {
    font-size: 30px;
  }
}

.feature-subtitle-home,
.feature-subtitle-browse {
  color: white;
  font-size: 26px;
  font-weight: normal;
  margin: 16px auto;
}

.feature-subtitle-browse {
  max-width: 640px;
  margin: initial;
  font-size: 22px;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

@media (max-width: 550px) {
  .feature-subtitle-home,
  .feature-subtitle-browse {
    font-size: 18px;
  }
}

.play-button {
  box-shadow: 0 0.6vw 1vw -0.4vw rgba(0, 0, 0, 0.35);
  background-color: #e6e6e6;
  border-width: 0;
  padding: 10px 35px;
  border-radius: 5px;
  max-width: 130px;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  text-align: center;
  color: #000;
  transition: 0.4s ease;
  margin-bottom: 200px;
  outline: 0;
}

.play-button:hover {
  background: #ff1e1e;
  color: white;
}

/* ############### OptForm Section ############### */

.optform-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 0 20px;
}

@media (max-width: 950px) {
  .optform-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.optform-email {
  max-width: 450px;
  width: 100%;
  border: 0;
  padding: 10px;
  height: 60px;
  font-size: 20px;
}

.optform-button {
  width: fit-content;
  height: 60px;
  background: #e50914;
  color: #fff;
  text-transform: uppercase;
  padding: 0 32px;
  font-size: 26px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .optform-button {
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
  }
}

.optform-button-image {
  margin-left: 10px;
  filter: brightness(0) invert(1);
  width: 24px;
}

.optform-button-image img:hover {
  background: #f40612;
}

.optform-text {
  font-size: 19px;
  color: #fff;
  text-align: center;
  padding: 0 20px;
}

/* ############### Jumbotron Section ############### */

.jumbo-item {
  padding: 70px 5%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 950px) {
  .jumbo-item {
    flex-direction: column;
  }
}

.jumbo-title {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 8px;
  padding-right: 100px;
}

@media (max-width: 950px) {
  .jumbo-title {
    font-size: 2.5rem;
    text-align: center;
    padding-right: initial;
  }
}

@media (max-width: 550px) {
  .jumbo-title {
    font-size: 1.5rem;
    text-align: center;
  }
}

.jumbo-subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: normal;
  padding-right: 100px;
}

@media (max-width: 950px) {
  .jumbo-subtitle {
    font-size: 1.25rem;
    text-align: center;
    padding-right: initial;
  }
}

@media (max-width: 550px) {
  .jumbo-subtitle {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 950px) {
  .jumbo-imagewrapper {
    text-align: center;
  }
}

.jumbo-image {
  max-width: 100%;
  height: auto;
}

/* ############### Seperator Section ############### */

.seperator {
  border: 4px solid #222;
}

/* ############### Accordion Section ############### */

.accordion-wrapper {
  max-width: 815px;
  margin: auto;
  padding: 70px 45px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 550px) {
  .accordion-wrapper {
    max-width: initial;
    padding: 70px 20px;
  }
}

.accordion-title {
  font-size: 50px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
}

@media (max-width: 550px) {
  .accordion-title {
    font-size: 25px;
  }
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  background: #303030;
  font-size: 26px;
  font-weight: normal;
  padding: 0.8em 1.2em 0.8em 1.2em;
  margin-bottom: 1px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .accordion-header {
    font-size: 20px;
  }
}

.accordion-body {
  background: #303030;
  font-size: 26px;
  font-weight: normal;
  padding: 0.8em 1.2em 0.8em 1.2em;
}

@media (max-width: 550px) {
  .accordion-body {
    font-size: 20px;
  }
}

.accordion-image {
  filter: brightness(0) invert(1);
  width: 24px;
  float: right;
}

@media (max-width: 550px) {
  .accordion-image {
    width: 16px;
  }
}

/* ############### Footer Section ############### */

.footer-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 70px 56px;
}

.footer-title {
  font-size: 16px;
  color: #757575;
  margin-bottom: 50px;
}

@media (max-width: 740px) {
  .footer-wrapper {
    padding: 70px 30px;
  }
}

@media (max-width: 500px) {
  .footer-wrapper {
    padding: 70px 15px;
  }
}

.footer-row {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 740px) {
  .footer-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .footer-row {
    grid-template-columns: 1fr 1fr;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: #757575;
  margin-bottom: 20px;
  font-size: 13px;
}

/* ############### SignForm Section ############### */

.sign-form-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 570px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 100%;
  margin: auto;
  max-width: 450px;
  padding: 60px 68px 40px;
  margin-bottom: 100px;
}

.sign-form-title {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 28px;
}

.sign-form-base {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
}

.sign-form-input {
  background: #333;
  border-radius: 4px;
  border: 0;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.sign-form-Button {
  background: #e50914;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 12px;
  padding: 16px;
  border: 0;
  color: white;
  cursor: pointer;
}

.sign-form-Button:disabled {
  opacity: 0.3;
}

.sign-form-text {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
}

.sign-form-link {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
}

.sign-form-link:hover {
  text-decoration: underline;
}

.sign-form-captcha {
  margin-top: 10px;
  font-size: 13px;
  line-height: normal;
  color: #8c8c8c;
}

/* ############### Movies Section ############### */

.all-slides-wrapper {
  padding: 30px 50px;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.slide-title {
  font-size: 24px;
  color: #e5e5e5;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .slide-title {
    text-align: center;
  }
}

.all-cards-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
}

@media (max-width: 650px) {
  .all-cards-wrapper {
    flex-direction: column;
  }
}

.card-wrapper:hover {
  transform: scale(1.25);
}

.card-image {
  border: 0;
  width: 100%;
  max-width: 305px;
  cursor: pointer;
  height: auto;
  padding: 0 5px;
}

.card-feature-wrapper {
  background-size: contain;
  position: relative;
  height: 360px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: black;
  padding-top: 30px;
}

.card-title {
  color: white;
  max-width: 640px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-description {
  color: white;
  max-width: 500px;
  font-size: 18px;
  font-weight: 500;
}

.card-feature-close {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
}

.card-feature-close img {
  filter: brightness(0) invert(1);
  width: 24px;
}

.player-video {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.player-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
