
/* ############### Global Styles Section ############### */


html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: white;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

/* ############### Header Section ############### */

.header-wrapper-home {
  /* border: solid red; */
  background: url("../images/misc/home-bg.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
}

.logo {
  /* border: solid yellow; */
  height: 32px;
  width: 108px;
}

.signin-button {
  /* border: solid yellow; */
  display: block;
  background-color: #e50914;
  width: 84px;
  height: fit-content;
  color: white;
  border: 0px;
  font-size: 15px;
  border-radius: 3px;
  padding: 8px 17px;
  cursor: pointer;
}