
/* ############### Global Styles Section ############### */


html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: white;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

/* ############### Header Section ############### */

.header-wrapper-home {
  /* border: solid red; */
  background: url("../images/misc/home-bg.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
}

.navbar-home {
  /* border: solid green; */
  max-width: 1850px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 175px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  /* border: solid yellow; */
  height: 32px;
  width: 108px;
}

.signin-button {
  /* border: solid yellow; */
  display: block;
  background-color: #e50914;
  width: 84px;
  height: fit-content;
  color: white;
  border: 0px;
  font-size: 15px;
  border-radius: 3px;
  padding: 8px 17px;
  cursor: pointer;
}


/* ############### Feature Section ############### */

.feature-wrapper-home {
  /* border: solid green; */
  text-align: center;
}

.feature-title-home {
  /* border: solid yellow; */
  color: white;
  max-width: 640px;
  font-size: 50px;
  font-weight: 700;
  margin: auto;
}


.feature-subtitle-home {
  /* border: solid yellow; */
  color: white;
  font-size: 26px;
  font-weight: normal;
  margin: 16px auto;
}


/* ############### OptForm Section ############### */

.optform-wrapper {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;

}

.optform-email {
  /* border: solid yellow; */
  max-width: 450px;
  width: 100%;
  border: 0px;
  padding: 10px;
  height: 60px;
  font-size: 20px;
}

.optform-button {
  /* border: solid yellow; */
  width: fit-content;
  height: 60px;
  background: #e50914;
  color: white;
  text-transform: uppercase;
  padding: 0 32px;
  font-size: 26px;
  border: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.optform-button-image {
  margin-left: 10px;
  filter: brightness(0) invert(1);
  width: 24px;
}

.optform-button-image img:hover {
  background: #f40612;
}

.optform-text {
  /* border: solid yellow; */
  font-size: 19px;
  color: white;
  text-align: center;
  padding: 0px 20px;
}